.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerUnderline {
  border-bottom: 2px solid black;
  text-align: left;
}

.description {
  text-align: left;
}

.breadcrumb {
  background: none;
}

.breadcrumb-item {
  background: none;
}

.preferredPronouns {
  font-style: italic;
  color: rgb(190, 190, 190);
  font-weight: normal;
}

.editProfile {
  font-weight: normal;
  color: black;
}

.editProfile:hover {
  color: rgb(190, 190, 190);
}

.jobTitle {
  font-weight: normal;
  font-style: italic;
}

.contactPreferences {
  font-weight: bold;
}

.contactUnderline {
  border-bottom: 4px solid rgb(190, 190, 190);
}

.contactOptions {
  color: black;
}

.contactOptions:hover {
  color: rgb(190, 190, 190);
}

/* Send Appreciation */
.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio + img {
  cursor: pointer;
}

.radio:checked + img {
  box-shadow: 0 0 6pt 2pt rgb(92, 92, 92);
  border-radius: 1.5rem;
}
